@function rpxchange($px) {
    @return $px*2rpx;
}

$imgUrlPath:"@@@RESPREFIX@@@";
@function urlPath($url) {
    @return url($imgUrlPath+$url);
}

page {
    background-color: #F4F5F7;
}

.img-icon {
    width: rpxchange(18);
    height: rpxchange(18);
    display: inline-block;
    vertical-align: text-bottom;
    margin-right: rpxchange(10);
}


.text-arrows {
    width: rpxchange(8);
    height: rpxchange(8);
    display: inline-block;
    border-top: 1px solid #ABB2D0;
    border-right: 1px solid #ABB2D0;
    margin-left: rpxchange(8);
    transform: rotate(45deg);
}