@function rpxchange($px) {
  @return $px*2rpx;
}
$imgUrlPath:"@@@RESPREFIX@@@";
@function urlPath($url) {
  @return url($imgUrlPath+$url);
}
page{
  background-color:#F4F5F7;
}

.my-treasure-container{
  .header-view{
    background: urlPath("treasure/head-bg.png") center top; 
    background-size:100% auto;
    margin-bottom:20rpx;
    .user-view{
      padding: rpxchange(15) rpxchange(15);
      overflow: hidden;
      font-size: rpxchange(20);
      color: #13227a;
      image{
        float: left;
        width: rpxchange(60);
        height: rpxchange(60);
        border:1px solid #F4F5F7;
        border-radius:50%;
      }
      .userInfo-box{
        float: left;
        padding-left:rpxchange(15);
        .userName{
          padding-top:rpxchange(5);
          font-weight: 600;
        }
        .userPhone{
          padding-top:rpxchange(10);
        }
      }
    }
    .user-asset-view{
      overflow: hidden;
      padding-bottom:rpxchange(30);
      .asset-box{
        float: left;
        width: 33.3%;
        text{
          display: block;
          text-align: center;
          &.money-text{
             font-size: rpxchange(22);
             color: #555A73;
             height: rpxchange(24);
             line-height: rpxchange(24);
          }
          &.desc-text{
            font-size: rpxchange(14);
            color: #82879B;
            height: rpxchange(16);
            line-height: rpxchange(16);
          }
        }
      }
    }
  }
  .item-choice{
      background-color:#FFF;
      height: rpxchange(50);
      line-height: rpxchange(50);
      font-size: rpxchange(16);
      color: #13227a;
      padding-left:rpxchange(20);
      border-bottom: 1px solid #F4F5F7;
      image{
        width: rpxchange(24);
        height: rpxchange(24);
        display:inline-block;
        vertical-align: text-bottom;
        margin-right: rpxchange(10);
      }
      .item-choice-content{
        float: right;
        padding-right:rpxchange(15);
      }
  }
  .item-btn{
    margin-top: rpxchange(30);
    color: #D2B978;
    background-color: #FFF;
    border:none;
    border-radius:0;
    &:after{
      border:none;
    }
  }
}
.text-arrows{
  width: rpxchange(8);
  height: rpxchange(8);
  display:inline-block;
  border-top:1px solid #ABB2D0;
  border-right:1px solid #ABB2D0;
  margin-left:rpxchange(8);
  transform:rotate(45deg);
}

.text-arrows-nor{
  width: rpxchange(8);
  height: rpxchange(8);
  display:block;
  margin-top:rpxchange(20);
  border-top:1px solid #ABB2D0;
  border-right:1px solid #ABB2D0;
  margin-left:rpxchange(8);
  transform:rotate(45deg);
}