page {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

@function rpxchange($px) {
    @return $px*2rpx;
}

.box {
    display: flex;
}

.box-lr {
    flex-direction: row;
}

.box-rl {
    flex-direction: row-reverse;
}

.box-tb {
    flex-direction: column;
}

.box-bt {
    flex-direction: column-reverse;
}

.box-pack-center {
    justify-content: center;
}

.box-pack-start {
    justify-content: flex-start;
}

.box-pack-end {
    justify-content: flex-end;
}

.box-pack-between {
    justify-content: space-between;
}

.box-pack-around {
    justify-content: space-around;
}

.box-align-center {
    align-items: center;
}

.box-align-start {
    align-items: flex-start;
}

.box-align-end {
    align-items: flex-end;
}

.self-align-center {
    align-self: center;
    margin: 0 auto;
}

.self-align-start {
    align-self: flex-start;
}

.self-align-end {
    align-self: flex-end;
}

.self-align-stretch {
    align-self: stretch;
}

.box-wrap {
    flex-wrap: wrap;
}

.box-nowrap {
    flex-wrap: nowrap;
}

.flex {
    flex-grow: 1;
}

.shrink {
    flex-shrink: 1;
}

.bg {
    background-image: linear-gradient(to bottom, #faefe7, #ffcbd7);
    overflow: hidden;
}

.brown-color {
    color: #784344;
}

.pink-color {
    color: #13227a;
}

.white-color {
    color: #fff;
}

.fs24 {
    font-size: 24rpx;
}

.fs28 {
    font-size: 28rpx;
}

.fs32 {
    font-size: 32rpx;
}

.fs36 {
    font-size: 36rpx;
}

.form-main-container {
    padding: rpxchange(20) 0 rpxchange(60) 0;
    background-color: #FFF;
    color: #0A1437;
    .content-box {
        clear: both;
        margin: 0 rpxchange(35);
        margin-bottom: rpxchange(10);
        font-size: rpxchange(16);
        padding: rpxchange(10) rpxchange(10);
        border: rpxchange(1) solid #DBDEE4;
        font-size: rpxchange(16);
        color: #222C56;
        vertical-align: middle;
        border-radius: rpxchange(10);
        &.no-border {
            border: 0px;
        }
        .input-view {
            overflow: hidden;
            label {
                float: left;
                line-height: rpxchange(30);
            }
            input {
                float: left;
                height: rpxchange(30);
                line-height: rpxchange(30);
            }
        }
        .placeholder {
            font-size: rpxchange(16);
            color: #222C56;
        }
        .checkbox-label {
            vertical-align: middle;
        }
        .checkbox-item {
            height: rpxchange(40);
        }
        .radio-view {
            display: inline-block;
        }
        .text-view {
            display: inline-block;
            font-size: rpxchange(16);
            line-height: rpxchange(40);
            color: #222C56;
            vertical-align: middle;
        }
        .textarea-view {
            width: 100%;
            height: rpxchange(100);
        }
    }
    .btn-view {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #FFF;
        border-top: 0.5px solid #F4F5F7;
        .btn-save {
            color: #FFF;
            background-color: #8a8a8a;
            font-size: rpxchange(17);
            height: rpxchange(55);
            line-height: rpxchange(55);
            letter-spacing: rpxchange(4);
            &.no-letter {
                letter-spacing: rpxchange(0);
            }
            &.active {
                background-color: #13227a;
                color: #FFF;
            }
            border-radius:0px;
        }
    }
}

.color-green {
    color: #0e932e !important;
    border: 1px solid #0e932e;
    padding:0 rpxchange(5);
    margin: 0 rpxchange(10);
}

.color-red {
    color: #d81e06!important;
    border: 1px solid #d81e06;
    padding:0 rpxchange(5);
    margin: 0 rpxchange(10);
}

.color-orange {
    color: #e98f36!important;
    border: 1px solid #e98f36;
    padding:0 rpxchange(5);
    margin: 0 rpxchange(10);
}

.color-blue {
    color: #aa0!important;
    border: 1px solid #aa0;
    padding:0 rpxchange(5);
    margin: 0 rpxchange(10);
}

.main-list-container {
    .list-item-container {
        background-color: #FFF;
        .item {
            position: relative;
            padding: rpxchange(15) rpxchange(15);
            border-bottom: 1px solid #dbdee4;
            .user-header-box {
                position: absolute;
                width: rpxchange(60);
                image {
                    width: rpxchange(50);
                    height: rpxchange(50);
                }
            }
            .content-box {
                margin-left: rpxchange(65);
                &.spe {
                    margin-left: 0;
                }
                .news-title {
                    font-size: rpxchange(16);
                    color: #d81e06;
                }
                .tel-phone {
                    font-size: rpxchange(16);
                    color: #1296db;
                }
            }

            &:last-child {
                border-bottom: 0px solid #dbdee4;
            }
            text {
                width: 100%;
                font-size: rpxchange(16);
                color: #222C56;
            }
            .title {
                width: 100%;
                font-size: rpxchange(16);
                height: rpxchange(30);
                line-height: rpxchange(30);
            }
            .content {
                width: 100%;
                font-size: rpxchange(16);
                color: #555a73;
                line-height: rpxchange(30);
            }
            .comment {
                background-color: #e6e6e6;
                padding: rpxchange(5) rpxchange(10);
                border-radius: rpxchange(5);
                .comment-user {
                    color: #1296db;
                }
            }
            .desc {
                line-height: rpxchange(30);
                overflow: hidden;
                .date {
                    width: rpxchange(150);
                    float: right;
                    text-align: right;
                }
                .see {
                    width: rpxchange(100);
                    float: left;
                    text-align: left;
                }
            }
        }
    }
}

.fixed-comment-view {
    position: fixed;
    bottom: rpxchange(70);
    right: rpxchange(30);
    width: rpxchange(50);
    background-color: #FFF;
    image {
        width: rpxchange(50);
        height: rpxchange(50);
    }
}

.mui-ellipsis-2 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.mui-ellipsis-1 {
    overflow: hidden;
    /*超出部分隐藏*/
    white-space: nowrap;
    /*不换行*/
    text-overflow: ellipsis;
    /*超出部分文字以...显示*/
}

.header-box {
    image {
        border-radius: 50%;
    }
}

.empty-container{
    image{
        display: block;
        width: rpxchange(150);
        height: rpxchange(150);
        margin:rpxchange(100) auto 0 auto;
    }
    .txt-desc{
        text-align: center;
        line-height: rpxchange(50);
        font-size: rpxchange(18);
        color:#555a73;
    }
}