@function rpxchange($px) {
    @return $px*2rpx;
}

$imgUrlPath:"@@@RESPREFIX@@@";
@function urlPath($url) {
    @return url($imgUrlPath+$url);
}

page {
    background-color: #F4F5F7;
}

scroll-view {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}

.loading {
    padding: 10rpx;
    text-align: center;
}

.loading:before {
    display: inline-block;
    margin-right: 5rpx;
    vertical-align: middle;
    content: '';
    width: 40rpx;
    height: 40rpx;
    // background: url(../../images/icon-loading.png) no-repeat;
    background-size: contain;
    animation: rotate 1s linear infinite;
}

.loading.complete:before {
    display: none;
}